<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
      
      <li class="nav-item"> <a class="nav-link " routerLink="/home"> <i class="bi bi-grid"></i> <span>Home</span> </a></li>
       <li *ngIf="showUserBoard" class="nav-item">
         <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#"> <i class="bi bi-journal-text"></i><span>Asset Handover Form</span><i class="bi bi-chevron-down ms-auto"></i> </a>
         <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li> <a routerLink="/request-handover"> <i class="bi bi-circle"></i><span>request</span> </a></li>
            <li> <a routerLink="/reponse-handover"> <i class="bi bi-circle"></i><span>Response</span> </a></li>
         </ul>
      </li>  
      
      <li *ngIf="showUserBoard"  class="nav-item">
         <a  class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#"> <i class="bi bi-layout-text-window-reverse"></i><span>ASSET CHANGE FORM</span><i class="bi bi-chevron-down ms-auto"></i> </a>
         <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          
            <li  > <a routerLink="/request-change"> <i class="bi bi-circle"></i><span>request</span> </a></li>
            <li> <a routerLink="/"> <i class="bi bi-circle"></i><span>Response</span> </a></li>
         </ul>
      </li>
      
      <li *ngIf="showUserBoard" class="nav-item">
         <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#"> <i class="bi bi-exclamation-circle"></i><span>departure</span><i class="bi bi-chevron-down ms-auto"></i> </a>
         <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li> <a routerLink="/request-depart"> <i class="bi bi-circle"></i><span>request</span> </a></li>
            <li> <a routerLink="/reponse-depart"> <i class="bi bi-circle"></i><span>Response</span> </a></li>
         </ul>
      </li>
      <li *ngIf="showUserBoard" class="nav-item">
         <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#"> <i class="bi bi-card-heading"></i><span>Engagement Telework</span><i class="bi bi-chevron-down ms-auto"></i> </a>
         <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li> <a routerLink="/request-telework"> <i class="bi bi-circle"></i><span>request</span> </a></li>
            <li> <a routerLink="/reponse-telework"> <i class="bi bi-circle"></i><span>Response</span> </a></li>
            
         </ul>
      </li>
      <li *ngIf="showUserBoard" class="nav-item">
         <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#"> <i class="bi bi-menu-button-wide"></i><span>Return Voucher</span><i class="bi bi-chevron-down ms-auto"></i> </a>
         <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li> <a routerLink="/request-voucher"> <i class="bi bi-circle"></i><span>request</span> </a></li>
            <li> <a routerLink="/reponse-voucher"> <i class="bi bi-circle"></i><span>Response</span> </a></li>
           
         </ul>
      </li>
     
      <li *ngIf="showAdminBoard" class="nav-item"> <a class="nav-link collapsed" routerLink="/requests"> <i class="bi bi-card-list"></i> <span>Requests</span> </a></li>
      <li *ngIf="showAdminBoard" class="nav-item"> <a class="nav-link collapsed" routerLink="/pages-blank"> <i class="bi bi-file-earmark"></i> <span>List of users</span> </a></li>
   </ul>
 </aside>