<main id="main" class="main">
   <div class="container" *ngIf="currentUser; else loggedOut">
  <header  *ngIf="showUserBoard"  class="jumbotron">
    <h3>

      Welcome <strong>{{ currentUser.username }}</strong> 
    </h3>
  </header>
  <section  *ngIf="showAdminBoard" class="section dashboard">
    <div class="row">
       <div class="col-lg-8">
          <div class="row">
            
             <div class="col-xxl-4 col-md-6">
                <div class="card info-card sales-card">
                   
                   <div class="card-body">
                      <h5 class="card-title">Requests <span></span></h5>
                      <div class="d-flex align-items-center">
                         <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i class="bi bi-box-arrow-in-right"></i></div>
                         <div class="ps-3">
                            <h6>{{a}}</h6>
                            
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div style="position: relative;left: 200px;" class="col-xxl-4 col-md-6">
                <div class="card info-card revenue-card">
                 
                   <div class="card-body">
                      <h5 class="card-title">Requests Waiting <span></span></h5>
                      <div class="d-flex align-items-center">
                         <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i class="bi bi-exclamation-triangle"></i></div>
                         <div class="ps-3">
                            <h6>{{c}}</h6>
                           
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div style="position: relative;top: 189px;right: 50px;" class="col-xxl-4 col-md-6">
               <div class="card info-card customers-card">
                
                  <div class="card-body">
                     <h5 class="card-title">Requests Closed <span></span></h5>
                     <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i class="bi bi-file-earmark-lock"></i></div>
                        <div class="ps-3">
                           <h6>{{b}}</h6>
                          
                        </div>
                     </div>
                  </div>
               </div>
            </div>
             
             
             
          </div>
       
          <div class="col-xxl-4 col-xl-12">
            <div class="card info-card customers-card">
              
               <div class="card-body">
                  <h5 class="card-title">Requests En cours <span></span></h5>
                  <div class="d-flex align-items-center">
                     <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i class="bi bi-file-earmark-text-fill"></i></div>
                     <div class="ps-3">
                        <h6>{{d}}</h6>
                       
                     </div>
                  </div>
               </div>
            </div>
         </div>
         
         
         
      
    
         
             
          
         
       
       </div>
    </div>
 </section>
  
</div>

<ng-template #loggedOut>
  Please login.
</ng-template>

    
 </main>