<main id="main" class="main">
    <div class="pagetitle">
       <h1>Form Editors</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
             <li class="breadcrumb-item">Forms</li>
             <li class="breadcrumb-item active">Editors</li>
          </ol>
       </nav>
    </div>
    <section class="section">
       <div class="row">
          
          <div class="col-lg-6">
           <div class="card">
               <div class="card-body">
                  <h5 class="card-title">Reponse</h5>
                  <p>votre demande est en cours d'execution</p>
                  
               </div>
            </div>
          </div>
       </div>
    </section>
    
   
 </main>